<div id="content-card">
  <span class="cardName"><b>{{cardNumber != 1?otherCard[0].split(":")[1]:myCard[0].split(":")[1]}}</b></span>
    <div class="row-card">
      <div (click)="appComponent.toggleOtherCard(1)" class="column-card">
        {{(cardNumber == 1?myCard[1]:otherCard[1]).split(":")[0]}} - {{(cardNumber == 1?myCard[1]:otherCard[1]).split(":")[1]}}
      </div>
      <div (click)="appComponent.toggleOtherCard(2)" class="column-card">
        {{(cardNumber == 1?myCard[2]:otherCard[2]).split(":")[0]}} - {{(cardNumber == 1?myCard[2]:otherCard[2]).split(":")[1]}}
      </div>
    </div>
    <div class="row-card">
      <div (click)="appComponent.toggleOtherCard(3)" class="column-card">
        {{(cardNumber == 1?myCard[3]:otherCard[3]).split(":")[0]}} - {{(cardNumber == 1?myCard[3]:otherCard[3]).split(":")[1]}}
      </div>
      <div (click)="appComponent.toggleOtherCard(4)" class="column-card">
        {{(cardNumber == 1?myCard[4]:otherCard[4]).split(":")[0]}} - {{(cardNumber == 1?myCard[4]:otherCard[4]).split(":")[1]}}
      </div>
    </div>
</div>
