<div id="content-card">
  <span class="cardName"><b>{{cardNumber != 1?dataServiceService.otherArrCards[0].Name:dataServiceService.myArrCards[0].Name}}</b></span> 
    <div class="row-card">
      <div (click)="appComponent.toggleOtherCard(1);appComponent.dataServiceService.setSelCardField(1)" class="column-card" [class.selCrdFieldEffect]="appComponent.dataServiceService.getSelCardField() == 1">
        Rank: {{cardNumber != 1?dataServiceService.otherArrCards[0].Rank:dataServiceService.myArrCards[0].Rank}}
      </div>
      <div (click)="appComponent.toggleOtherCard(2);appComponent.dataServiceService.setSelCardField(2)" class="column-card" [class.selCrdFieldEffect]="appComponent.dataServiceService.getSelCardField() == 2">
        Height: 
        {{
        cardNumber != 1?
        heightConverter(dataServiceService.otherArrCards[0].Height):
        heightConverter(dataServiceService.myArrCards[0].Height)
        }}
      </div>
    </div>
    <div class="row-card">
      <div (click)="appComponent.toggleOtherCard(3);appComponent.dataServiceService.setSelCardField(3)" class="column-card" [class.selCrdFieldEffect]="appComponent.dataServiceService.getSelCardField() == 3">
        Weight: {{cardNumber != 1?dataServiceService.otherArrCards[0].Weight:dataServiceService.myArrCards[0].Weight}}
      </div>
      <div (click)="appComponent.toggleOtherCard(4);appComponent.dataServiceService.setSelCardField(4)" class="column-card" [class.selCrdFieldEffect]="appComponent.dataServiceService.getSelCardField() == 4">
        Win Percentage: {{cardNumber != 1?dataServiceService.otherArrCards[0].WinPercentage:dataServiceService.myArrCards[0].WinPercentage}}
      </div>
    </div>
</div>