*{
  --cardHeight: 12.7vh;
}
.row-card {
  display: flex;
}

div#content-card{
  /* background-color:rgb(238, 39, 39); */
  width:var(--commonWidth);
  height:var(--commonHeight);
  position:fixed;
text-align: center;
  
}
  /* image source:  https://shop.wwe.com/wwe-superstars/#loaded_more=true */
.column-card{
  flex: 50%;
  height: var(--cardHeight);
  /* border-bottom: 0.25vh solid white; */
  border-top: 0.25vh solid white;
  margin: 0em 1em 0em 1em;
  border-radius: 20%;
  color:white;
  vertical-align: middle;
  line-height: var(--cardHeight);
}
.cardName{
  /* background-color: rgba(123, 31, 162, 0.336); */
  color:white;
}
.selCrdFieldEffect{
      animation: mymove 2s;
      -webkit-animation: mymove 2s; /* Safari 4.0 - 8.0 */
}
/* Standard syntax */
@keyframes mymove {
  from {background: linear-gradient(to right, var(--headerColor), #6f00001e);}
  60%{background: linear-gradient(to right, var(--headerColor), #6f00001e);}
  to {background: linear-gradient(to right, var(--headerColor), #6f00001e);}
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {background-color: rgb(123, 31, 162);}
  60%{background-color: rgb(123, 31, 162)}
  to {background-color: rgba(238, 39, 39, 0.329);}
}
