*{
  --cardHeight: 12.7vh;
}
.row-card {
  display: flex;
}

div#content-card{
  background-color:rgba(255, 0, 0, 0.788);
  width:var(--commonWidth);
  height:var(--commonHeight);
  position:fixed;
  
} 
  /* Create two equal columns that sits next to each other */
  /* image source:  https://shop.wwe.com/wwe-superstars/#loaded_more=true */
.column-card{
  flex: 50%;
  height: var(--cardHeight);
  border-bottom: 0.25vh solid yellow;
  border-top: 0.25vh solid yellow;
  border-radius: 20%;
  text-align: center;
  vertical-align: middle;
  line-height: var(--cardHeight);
} /* Create two equal columns that sits next to each other */