<div class="fullScreen">
	<mat-toolbar color="primary" class="headerToolbar">
		<mat-toolbar-row>
			<span>WWE Card Game</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">refresh</mat-icon>
    <mat-icon class="example-icon">help_outline</mat-icon>
    <mat-icon class="example-icon">android</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
  <div id="container">
    <div [hidden]="!showOtherCard" id="header">
      <app-card cardNumber="2" card={{otherCard}}></app-card>
    </div>
    <div id="content">
      <div class="row">
        <div class="column1" [style.background-image]="'url(https://shop.wwe.com/on/demandware.static/-/Sites-wwe-us-navigation/default/dwb8d1545f/images/superstar-thumb-300/'+dataServiceService.myCard[0].split(':')[1]+'NEW.jpg)'" (click)="showCard()" [ngClass]="{'overlay': firstLoad}">
        </div>
        <div class="column1" [style.background-image]="'url(https://shop.wwe.com/on/demandware.static/-/Sites-wwe-us-navigation/default/dwb8d1545f/images/superstar-thumb-300/'+dataServiceService.otherCard[0].split(':')[1]+'NEW.jpg)'" [ngClass]="{'overlay': !showOtherCard}">
        </div>
      </div>
    </div>
    <div [hidden]="firstLoad" id="footer">
      <app-card cardNumber="1" card={{myCard}}></app-card>
    </div>
  </div>
</div>