<!-- <tr *ngFor="let card of dataServiceService.arrCards">
                <td>{{card.Rank}}</td>
                    <td>{{card.Name}}</td>
        </tr>
        {{dataServiceService.arrCards[1].Name}} -->
        <div class="fullScreen">
	<mat-toolbar color="primary" class="headerToolbar">
		<mat-toolbar-row>
			<span>WWE Card Game</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">refresh</mat-icon>
    <mat-icon class="example-icon">help_outline</mat-icon>
    <mat-icon class="example-icon">android</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
  <div id="container">
    <div [hidden]="!showOtherCard" id="header">
      <app-card cardNumber="2" card={{dataServiceService.otherCard}}></app-card>
    </div>
    <div id="content">
      <div class="row">
        <div class="column1" [style.background-image]="'url('+dataServiceService.fetchMyCard().URL+')'" (click)="showCard()" [ngClass]="{'overlayHigh': firstLoad}">
        </div>
        
        <div class="column1">
        </div>

        <div class="column1" [style.background-image]="'url('+dataServiceService.fetchOtherCard().URL+')'" [ngClass]="{'overlay': !showOtherCard}">
        </div>

        
      </div>
    </div>
    <div [hidden]="firstLoad" id="footer">
      <app-card cardNumber="1" card={{dataServiceService.myCard}}></app-card>
    </div>
  </div>
</div>

